#main{
    /* display: block; */
    justify-content: center;
    align-items: center;
    margin-left: 500px;

}

#counter{
    margin-left: 30px;
    font-size: 50px;
    
}

#number{
    margin-left: 80px;
    font-size: 50px;
}

#button{
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    

}